body {
    background-color: #d3d3d3;
}
/* Main link element (<div> tag) */
.linkCard {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
}
/* Link title (<a> tag) */
.linkTitle {
    color: #428bca;
    text-decoration: none;
    margin-right: 5px;
}
.linkTitle:hover {
    text-decoration: none;
}
/* Link URL (<span> tag) */
.linkUrl {
    font-weight: normal;
    font-size: 80%;
}
/* Link headline containing title & URL (<h4> tag) */
.linkHeadline {
    margin: 0;
}
/* Link author (<span> tag) */
.linkAuthor {
    font-weight: normal;
    font-size: 80%;
}

.linkForm {
    display: none;
    margin-bottom: 20px;
}

.alert {
    display: none;
}
